NEXT_PUBLIC_CONTRACT_ADDRESS=0xcB6688DcD30bDB97B882c02a1B1273914dcAB563
NEXT_PUBLIC_GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com
NEXT_PUBLIC_GENLAYER_CHAIN_ID=4221
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Bradbury Testnet
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN
